<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav4Fuse</title>
</head>
<body>
    <header>
        <h1>Logo</h1>
        <ul>
            <li>
                <a href="/">목록</a>
            </li>
            <li>
                <a href="/user/report">글쓰기</a>
            </li>
        </ul>
    </header>
    <main>
        {% block contents %}
        {% endblock contents %}
    </main>
</body>
</html>